@page "{id?}"
@model ProjektTAS.Pages.ProduktModel
@{
    Layout = null;
    bool isLoggedIn = false;
}

@{ 
    if(Request.Cookies.TryGetValue("SessionToken", out string token) && ProjektTAS.Classes.StaticMethods.IsTokenValid(token.ToString()))
    {
        isLoggedIn = true;
    }
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Strona produktu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/addComment.js"></script>
    <script src="~/js/main.js"></script>
</head>
<body>

    <div class="ui menu">
        <div class="right menu">
            <div class="ui buttons">
                @if (isLoggedIn)
                {
                    <button class="ui teal button "><a href="/Index" onclick="logoff()">Wyloguj się</a></button>
                }
                else
                {
                    <button class="ui teal button"><a href="/Login">Zaloguj się</a></button>
                    <div class="or"></div>
                    <button class="ui button"><a href="/Rejestracja">Rejestracja</a></button>
                }
            </div>
        </div>
    </div>

    <div class="ui vertical big menu">
        <div class="item">
            <div class="header">Kategorie</div>
            <div class="menu">
                @{
                    foreach (System.Data.DataRow row in Model.Kategorie().Rows)
                    {
                        <a class="item" href="/@row["nazwa"]">@row["nazwa"].ToString()</a>
                    }
                }
            </div>
        </div>
    </div>

    <div class="ui raised very padded text container segment">
        <h4 class="ui horizontal divider header">
            <i class="tag icon"></i>
            Produkt
        </h4>
        <table class="ui definition table">
        @{
            foreach (System.Data.DataRow row in Model.Przedmiot(@Model.idPrzedmiotu).Rows)
            {  
                <tbody>
                    <tr>
                        <td class="two wide column">Nazwa</td>
                        <td>@row["nazwa_produktu"]</td>
                    </tr>
                    <tr>
                        <td>Kategoria</td>
                        <td>@row["nazwa_kategorii"]</td>
                    </tr>
                    <tr>
                        <td>Cena</td>
                        <td>@row["cena"] PLN</td>
                    </tr>
                </tbody>
            }
        }
        </table>
            
    <h4 class="ui horizontal divider header">
    <i class="bar chart icon"></i>
    Opinie o produkcie
    </h4>
    @{
            foreach (System.Data.DataRow row in Model.Oceny(@Model.idPrzedmiotu).Rows)
            {<div class="column">
                <a class="item">@row["ocena"].ToString()/5</a>
            </div>
            <div class="column">
                <a class="item">@row["opinia"].ToString()</a>
            </div>
            <div class="ui divider"></div>
            }
        }

     @if (isLoggedIn)
        {
            <form class="ui reply form">
                <div hidden id="id">@Model.idPrzedmiotu</div>
                <div class="field">
                <textarea id="comment"></textarea>
                Oceń produkt
                <div class="ui star rating" id="rating" data-rating="3"></div>
                </div>
                <div class="ui primary submit labeled icon button" onclick="addComment(getCookie('SessionToken'))">
                <i class="icon edit"></i> Dodaj opinię
                </div>
            </form>
        }
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
    <script type="text/javascript">$(document).ready(function(){$(".rating").rating({maxRating: 5});});</script>
    <script src="~/js/main.js"></script>
</body>
</html>